:root { 

    // -- Addons --

    // BetterAvatar Popout
    --popout-status-icon: none; // Set it to "block" if u want to have the status icon in big popouts
    --popout-status-mask: none; // Set it to "url(#svg-mask-avatar-status-round-80)" if u want to enable the avatar mask in big popouts
    --avatar-radius: 10%; // Change the roundness of avatar in big popouts, u need to disable the mask to use this

    // Colored emoji picker
    --colored-emoji: grayscale(0%); // Change the value to "100%" if u want the basic one

    // BetterSpotify --> Delete all until "Other settings" if u don't want it
    .powercord-spotify .spotify-seek-bar {
        position: absolute;
        bottom: 0px;
        width: 280px;
        height: 55px;
        -webkit-mask-image: linear-gradient(0.25turn, #0009, #0003);
        mask-image: linear-gradient(0.25turn, #0009, #0003);
    }
    .powercord-spotify.hover { height: 55px; }
    .powercord-spotify > .container-3baos1 > .avatarWrapper-2yR4wp, .powercord-spotify > .container-3baos1 > .nameTag-3uD-yy, .spotify-buttons, .spotify-seek-duration { z-index: 1; }

    // -- Others settings --

    // No scrollbars --> Delete all until "Mention color" if u don't want it
    ::-webkit-scrollbar { display: none !important;}
    .note-3HfJZ5 { margin-right: 0; }
    .content-1x5b-n { margin: 0 !important; border-radius: 0; }
    .mainContent-u_9PKf { padding-left: 8px;}
    .member-3-YXUe, [id*="private-channels-"] { margin: 0; max-width: unset; }
    .layout-2DM8Md { border-radius: 0; padding: 0 16px;}
    .unread-2lAfLh { z-index: 1;}
    .content-1LAB8Z, .item-1tOPte { margin-right: 8px;}
    .scroller-2hZ97C { padding-left: 0;}
    .scroller-2hZ97C > .content-3YMskv, .buttons-3JBrkn, .messagesPopout-24nkyi { padding-right: 10px !important; }
    .inviteRow-2L02ae {border-radius: 0; padding-left: 15px;}
    .sidebar-CFHs9e { padding-right : 0; margin: 0 40px 0 20px;}
    .sidebarRegion-VFTUkN { flex: unset;}
    .contentColumn-2hrIYH, .sidebarScrollable-1qPI87+.content-1rPSz4, .customScroller-26gWhv>div, .customColumn-Rb6toI, .hero-EvfTTA { max-width: none;}
    .featuresHeader-4YwLcc { margin-left: 95px;}
    .userSettingsVoice-iwdUCU, .container-3PXSwK { width: auto !important;}
    .menu-3sdvDG .layer-v9HyYc { margin-left: -8px;}

    // Mention color
    --mention-color-bar: #C66262;
    --mention-color-background: #c662621f;
    --mention-color-hover: #c6626226;

    // Spotify seek bar color
    --spotify-color: #096dc0 !important;

    // User settings color (Mute, Deafen and settings)
    --user-buttons-color: #096dc0;

    // Chat buttons color
    --chat-buttons: #6E85D3;

    // Circles next to role names
    --role-circle: 7px; // Set it to "0px" if u don't want circles

    // Tooltips
    --tooltips: block; // Set it to "none" if u don't want it

    // Discord logo
    --discord-logo: none; // Set it to "block" if u want it
}